


<form method="post" class="row g-3 needs-validation" novalidate>
    @model CompraloYa.Models.Oficina

    <div>
        <h4>Oficina</h4>
        <hr />
        <dl class="row">
      <div class="form-group">



        <label for="validationCustom01" class="form-label">Numero de tarjeta </label>
        <input type="text" name="tarjetanum" class="form-control" />
        <div>

            <img src="~/Iconos/visa.png" alt="visaimg" width="80px" height="50px" />
            <img src="~/Iconos/mastercard.png" alt="mastercardimg" width="50px" height="50px" />
        </div>




        <br />

        <label for="validationCustom01" class="form-label">Fecha de expiracion </label>
        <input type="text" name="fechaex" class="form-control" />
        <div>
            <img src="~/Iconos/Numbercard.png" alt="numbercardimg" width="70px" height="50px" />
        </div>

        <br />

        <label for="validationCustom01" class="form-label">VCC </label>
        <input type="text" name="vcctarjeta" class="form-control" />
        <div>
            <img src="~/Iconos/cvv.png" alt="Alternate Text" width="50px" height="50px">
        </div>


        <br />

        <button type="submit" class="btn btn-outline-success">PAGAR</button>
        <br />
        

      </div>




</form>


