html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

#h {
  /*  background: #808080;*/
    margin-left: 30px;
    height: 70px;
    font-size: 20px;
    padding-left: 435px;
    margin-top: -35px;
    padding-top: 20px;
    width: 1050px;
}
#p1{
    margin-left:450px;
    margin-top:-50px;
    
    
}

#Pagination{

    margin-top: 1000px;
    padding-left:290px;


}


.divJoyas{

  /* background: #b6ff00;*/
   width:550px;
   height:222px;

}
.div5 {
    width: 1560px;
    height: 65px;
     /*background: #d0cbcb;*/
    padding-left: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

#search {
    margin-left: 500px;
    margin-top: -65px;
    width: 890px;
    height: auto;
    padding-top: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#col-auto {
    padding-left: 285px;
    height: 10px;
}

#txt-search {
    margin-right: -300px;
    height: -30px;
    border: #ff0101;
    width: 700px;
    border-style: groove;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#td{

    margin-left:180px;
}
.rounded {
    margin-top: -290px;
    width: 160px;
    height: 150px;
}
#btnD{
    margin-left:-140px;
    margin-top:50px;

}
