/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 10px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background : #ff9710;
}

.cont 
{
    margin-right:20px;
    color: #000000;
}
.div1 {
    width: 310px;
    height: auto;
    color: black;
    background: #f7f7f7;
    margin-top: 60px;
    margin-left: 10px;
   
    top: -20px;
    bottom: 0px;
    right: -1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 1px;
 
}
.div2 {
    width: 280px;
    height: auto;
 /*   background: #d0cbcb;*/
    color: black;
    
}


.div3 {
    width: 1560px;
    height: 65px;
    /* background: #d0cbcb;*/
    padding-left: 100px;
    margin-left: 20px;
    margin-top: 5px;
   
  
}
.div4 {
    width: auto;
    height: auto;
    /* background: #d0cbcb;*/
    padding-left: 50px;
    margin-left: 1560px;
    margin-top: -70px;
    
}
#a2 {
    width: 50px;
    height: auto;
    
    padding-left: -40px;
    margin-left: 1470px;
    margin-top: -70px;
}

#po2 {
    position: relative;
    top: -49px;
    bottom: 0px;
    right: -20px;
}
#a1 {


    font-size: 18px;
    color: #000000;
    margin-top: 35px;
    
}
ul{
   
    list-style:none;
    margin:0;
    padding:2px;
   width:300px;
  
}
#principal {
    position: relative;
    margin-top: -340px;
    width: 1300px;
    padding: 50px;
    margin-left: 350px;
    /*left: 110px;*/
    height: 1500px;
    background: #f7f7f7;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  
   
}

#search {
   
    margin-left: 500px;
    margin-top: -65px;
    width: 890px;
    height: auto;
    padding-top: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  
}
#col-auto {
    padding-left: 285px;
    height:10px;
   
}
#txt-search {
    margin-right: -300px;
    height: -30px;
    border: #ff0101;
    width: 700px;
    border-style: groove;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
