<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CompraYa</title>
    <link rel="shortcut icon" href="~/png.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <script src="~/js/Search.js" asp-append-version="true"></script>

</head>
<body >


    <div class="div3">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">

            <img src="https://cdn.discordapp.com/attachments/811795660449775647/875942273936936961/Compraya1.png" width="187" height="55" class="img-fluid" />

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="row search" id="search">
        <div class="col-auto" >
            <input type="text" class="form-control-plaintext" id="txt-search" placeholder="Buscar..." />
        </div>
        <div class="col-auto" id="col-auto">
            <a class="btn btn-lg "  onclick="search_search()" id="search-link"><i class="fas fa-search"></i></a>
           
        </div>
    </div>

    <div class="navbar-toggler div4">
        <partial name="_LoginPartial" />


    </div>
    <div id="a2"><a asp-controller="TypeSends" asp-action="Index" class="btn "><i class="fas fa-plane-departure"></i> Envios</a></div>

    <div class="div1" id="po1">
        <ul class=" navbar-toggler nav-tabs">
            <li>
                <a> <i class="fas fa-bars"></i> Categorías</a>
                <ul class="dropdown">
                    <li>
                        <a id="a1" class="nav-link " asp-area="" asp-controller="Joyerias" asp-action="Index"><i class="fas fa-gem"></i> Joyeria </a>
                    </li>

                    <li>
                        <a id="a1" class="nav-link " asp-area="" asp-controller="Oficinas" asp-action="Index"><i class="fas fa-briefcase"></i> Oficina</a>
                    </li>

                    <li>
                        <a id="a1" class="nav-link " asp-area="" asp-controller="Ropas" asp-action="Index"><i class="fas fa-tshirt"></i> Ropa</a>
                    </li>

                    <li>
                        <a id="a1" class="nav-link " asp-area="" asp-controller="Tecnologias" asp-action="Index"><i class="fas fa-laptop"></i> Tecnologia </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>



    <div class="container" id="principal">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container cont">
            &copy; 2021 - CompraloYa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
